body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#button-group {
    display: flex;
    gap: 10vw;
}

button {
    width: 10vw;
    height: 10vh;
    font-size: 1.3rem;
}